



<ons-page id="mycouse">
    <ons-fab position="top left" style="color: #03174C;" onclick="goBack()">
        <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
    </ons-fab>

    <ons-fab position="bottom center" style="color: #03174C;" onclick="gosport()">
        <i class="material-icons md-48" style="margin-top: 16px;">add</i>
    </ons-fab>


    <img src="img/top_mycouse.png" alt="" width="100%">
    <p class="mycouse_title">คอร์สการออกกำลังกาย</p>
    <p class="mycouse_detail">คอร์สที่คุณเลือกลงเรียนไว้เลือกเรียนได้ตามใจชอบเลย!</p>

    <h4 style="margin-left: 15px;">My Couse</h4>

    <div class="text" id="show_mycouse">


        <!-- เอาอันนี้ใส่ในjs -->
        <ul class="list-group text">
            <li class="list-group-item">
                <ons-row id="">
                    <ons-col width="50px">
                        <img src="img/icon_play.png" alt="" width="100%">
                    </ons-col>
                    <ons-col style="margin-left: 15px;">
                        <ons-row>
                           (ชื่อคอร์ส)
                        </ons-row>
                        <ons-row style="color: darkgrey;">
                            
                            (เวลา: ?? HR ?? MIN)
                        </ons-row>
                    </ons-col>
                </ons-row>
            </li>
        </ul>




    </div>
</ons-page>