<ons-page id="showsport" class="text_f">

    <ons-toolbar class="tabbar_showsport" style="text-align: center;">
        <div class="center toolbar__center toolbar__title" style="color: white;">
            วิ่งระยะสั้น
        </div>
    </ons-toolbar>
    <ons-fab position="top left" style="color: 03174C;" onclick="goBack()">
        <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
    </ons-fab>
    <ons-fab position="top right" style="color: 03174C;">
        <i class="material-icons md-48" style="margin-top: 16px;">favorite_border</i>
    </ons-fab>
    <div class="trailer" style="text-align: center;">
        <img src="/img/sport1.png" width="60%" style="margin-top: 20px;">
    </div>

    <div class="sport_info">

        <div class="sport_name">
            วิ่งระยะสั้น</div>
        <div class="sport_details">
            การวิ่งบนลู่วิ่งสายพานจะได้ผลเหมือนกันกับวิ่งบนทางราบถ้าเราได้ใช้กำลังในการออกแรงวิ่งเท่าๆกัน</div>
        <ons-row class="movie_general_info">

            <ons-col style="text-align: center;">
                 <i class="material-icons md-48" >favorite_border</i>
                 514 Favorits
            </ons-col>
            
            <ons-col style="text-align: center;">
                <i class="material-icons md-48">perm_identity</i>
                28 Training
            </ons-col>
            
            <ons-col style="text-align: center;">
                <i class="material-icons md-48">how_to_reg</i>
                4 Trainer
            </ons-col>
        </ons-row>
    </div>
    <div class="trainer">
        Trainer
    </div>




    <ons-row class="trainer_cover">
        <ons-col>
            <div>
                <img src="/img/train1.jpg" class="trainer_pic" alt="" width="70%" style="margin-top: 10px;">
                <div class="trainer_name">
                    jungwoo
                </div>
                <p class="text_hr">2 HR 30 MIN 1500 BTH</p>
            </div>
            <div>
                <img src="/img/train2.jpg" class="trainer_pic" alt="" width="70%" style="margin-top: 10px;">
                <div class="trainer_name">
                    jungwoo
                </div>
                <p class="text_hr">2 HR 30 MIN 1500 BTH</p>
            </div>
        </ons-col>
        <ons-col>
            <div>
                <img src="/img/train3.jpg" class="trainer_pic" alt="" width="70%" style="margin-top: 10px;">
                <div class="trainer_name">
                    jungwoo
                </div>
                <p class="text_hr">2 HR 30 MIN 1500 BTH</p>
            </div>
            <div>
                <img src="/img/train4.jpg" class="trainer_pic" alt="" width="70%" style="margin-top: 10px;">
                <div class="trainer_name">
                    jungwoo
                </div>
                <p class="text_hr">2 HR 30 MIN 1500 BTH</p>
            </div>
        </ons-col>

    </ons-row>




</ons-page>