<ons-page id="showsport" class="text_f">
    <ons-toolbar class="tabbar_showsport" style="text-align: center;">
        <div class="center toolbar__center toolbar__title" style="color: white;">
            <div class="h_name">

            </div>
        </div>
    </ons-toolbar>
    
    <ons-fab position="top left" style="color: #03174C;" onclick="goBack()">
        <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
    </ons-fab>
    <div style="background-color: #03174C; color: white;">
        






        <div class="trailer" style="text-align: center;">

        </div>

        <div class="sport_info">

            <div class="sport_name">

            </div>
            <div class="sport_details" style="color: #C8D8EB ;">
            </div>
            <ons-row class="movie_general_info">



                <ons-col style="text-align: center;">
                    <i class="material-icons md-48">perm_identity</i>
                    28 Training
                </ons-col>

                <ons-col style="text-align: center;">
                    <i class="material-icons md-48">how_to_reg</i>
                    4 Trainer
                </ons-col>
            </ons-row>
        </div>
        <div class="trainer">
            Trainer
        </div>

        <ons-row class="trainer_cover">

        </ons-row>

    </div>


</ons-page>