 <ons-navigator id="myNavigator" page="sport.html"></ons-navigator>
    <template id="sport.html">
        <ons-page id="sport">

            <div style="margin-top: 50px; text-align: center;font-size: 23px;">เลือกหมวดหมู่การออกกำลังกาย</div>
            <div style=" text-align: center; font-size: 35px;">ที่คุณสนใจ</div>
            <div style="margin-left: 20px; margin-top: 25px; text-align: left; color: rgb(82, 82, 82);">choose a topic
                to focuse on:</div>
            <ons-row class="sport_cover">

                <ons-col style="margin-right: 5px;">
                    <div class="sport_big" style="  background-color: #8E97FD " onclick="openHome()">
                        <img src="/img/sport1.png" alt="" width="70%" style="margin-top: 10px;">
                    </div>
                    <div class="sport_small" style="margin-top: 10px; background-color: #FEB18F" onclick="openHome()">
                        <img src="/img/sport3.png" alt="" width="60%" style="margin-top: 10px;">
                    </div>
                    <div class="sport_big" style="margin-top: 10px; background-color: #6CB28E" onclick="openHome()">
                        <img src="/img/sport5.png" alt="" width="80%" style="margin-top: 10px;">
                    </div>
                    <div class="sport_small" style="margin-top: 10px; background-color: #8E97FD" onclick="openHome()">
                        <img src="/img/sport7.png" alt="" width="80%" style="margin-top: 10px;">
                    </div>
                </ons-col>

                <ons-col style="margin-left: 5px;">
                    <div class="sport_small" style="background-color: #FA6E5A" onclick="openHome()">
                        <img src="/img/sport2.png" alt="" width="60%" style="margin-top: 10px;">
                    </div>
                    <div class="sport_big" style="margin-top: 10px; background-color: #FFCF86" onclick="openHome()">
                        <img src="/img/sport4.png" alt="" width="70%" style="margin-top: 10px;">
                    </div>
                    <div class="sport_small" style="margin-top: 10px; background-color: #3F414E" onclick="openHome()">
                        <img src="/img/sport6.png" alt="" width="60%" style="margin-top: 10px;">
                    </div>
                    <div class="sport_big" style="margin-top: 10px; background-color: #D9A5B5" onclick="openHome()">
                        <img src="/img/sport8.png" alt="" width="60%" style="margin-top: 10px;">
                    </div>
                </ons-col>
            </ons-row>




        </ons-page>
    </template>