<ons-page id="trainer" class="text_f">

    <ons-toolbar class="tabbar_showsport" style="text-align: center;">
        <div class="center toolbar__center toolbar__title" style="color: white;">
           Jaehyoung
        </div>
    </ons-toolbar>
    <ons-fab position="top left" style="color: #03174C;" onclick="goBacktainer()">
        <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
    </ons-fab>
    <div class="trailer" style="text-align: center;">
        <img src="/img/train1.jpg" width="60%" style="margin-top: 20px;">
    </div>

    <div class="sport_info">
        <div class="sport_name">
            Jaehyoung</div>
        <div class="sport_details">
            สามารถให้คำแนะนำเรื่องการวิ่งถนัดทางด้านนี้โดยตรงทุกคนมีเป้าหมายในการออกกำลังกายที่แตกต่างกันเทรนเนอร์ของเราจะช่วยให้คุณไปถึงยังเป้าหมายได้
        </div>     
    </div>
    <div class="trainer" >
        2 HR 30 MIN 1500 BTH
    </div>




  



</ons-page>