<ons-page id="trainer" class="text_f">
    <ons-toolbar class="tabbar_showsport" style="text-align: center;">
        <div class="center toolbar__center toolbar__title" style="color: white;">
          <div class="train_name" style="font-size: 20px;">

          </div>
        </div>
    </ons-toolbar>
    <ons-fab position="top left" style="color: #03174C;" onclick="goBacktainer()">
        <i class="material-icons md-48" style="margin-top: 16px;">arrow_back</i>
    </ons-fab>

    <div style="background-color: #03174C; color: white;">
    
 
    <div class="train_pro" style="text-align: center;" >
      
    </div>

    <div class="sport_info">
        <div class="train_picname"style="margin-top: 10px;">
           </div>
        <div class="train_details" style="margin-top: 10px; color: #C8D8EB ;">
           
        </div>     
    </div>
    <div style="margin-left: 20px; margin-top: 25px; text-align: left;">choose a topic
        to focuse on:</div>
    <div class="train_c">



        
    </div>
   
   
    
    
</ons-fab>
   







    <div>
        <br>
        <br>
        <br>
    </div>

</div>
  



</ons-page>